 <div class="row justify-content-around">
      <div class="col-12 col-sm-8 col-md-8 mb-5">
        <h2 class="text-center mb-4">Liste des articles</h2>

        <div class="mb-4">
          <%= search_form_for @q do |f| %>
            <div class="form-group">
              <%= f.label :title_cont, "Titre" %>
              <%= f.search_field :title_cont, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :categorie_id_eq, "Catégorie" %>
              <%= f.collection_select :categorie_id_eq, Categorie.all, :id, :name, { include_blank: 'Sélectionnez une catégorie' }, class: "form-control" %>
            </div>
            <%= f.submit "Rechercher", class: "btn btn-primary" %>
          <% end %>
        </div>

        <div class="row">
          <% @articles.each do |article| %>
            <div class="col-md-6 mb-4">
              <div class="card">
                <% if article.image.present? %>
                  <%= image_tag article.image, class: "card-img-top", alt: article.title %>
                <% else %>
                  <%= image_tag "default-image.jpg", class: "card-img-top", alt: "Default Image" %>
                <% end %>
                <div class="card-body">
                  <h6 class="card-title">
                    <%= article.title %>
                  </h6>
                  <p class="card-text">Catégorie : <%= article.categorie.name %></p>
                  <div class="text-center">
                    <p id="favorite-<%= article.id %>">
                      <%= render partial: "favorite", locals: { article: article } %>
                    </p>
                    <a href="<%= article_path(article) %>" class="btn btn-primary">Lire</a>
                    <% if current_user == article.user || current_user.admin? %>
                      <a href="<%= edit_article_path(article) %>" class="btn btn-secondary">Modifier</a>
                      <a href="<%= article_path(article) %>" data-confirm="Êtes-vous sûr ?" data-method="delete" class="btn btn-danger">Supprimer</a>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

  </div>
</div>
  
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <%= paginate @articles, class: 'pagination justify-content-center' %>
      </div>
    </div>
  </div>
