<h1>Utilisateurs</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse e-mail</th>
      <th>Administrateur</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin ? 'Oui' : 'Non' %></td>
        <td><%= link_to t('common.edit'), edit_user_path(user) %></td>
        <td><%= link_to t('common.destroy'), user, method: :delete, data: {confirm: "Êtes-vous sûr?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
