<!DOCTYPE html>
<html>
  <head>
    <title>MyBlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= favicon_link_tag('article.png') %>
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light shadow">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">My Blog App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item"><%= link_to "Utilisateurs", users_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Nouvelle catégorie", new_category_path, class: "nav-link" %></li>
          <% end %>
          <li class="nav-item"><%= link_to "Articles", articles_path, class: "nav-link" %></li>
          <% if !current_user.admin?%>
            <li class="nav-item"><%= link_to "Mes articles", user_articles_path(current_user), class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Nouvel article", new_article_path, class: "nav-link" %></li>
          <% end %>
          <li class="nav-item"><%= link_to "Catégories", categories_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Mon compte", user_path(current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Utilisateur invité", guest_sign_in_path, method: :post, class: "nav-link" %>
          <li class="nav-item"><%= link_to "Admin invité", admin_guest_sign_in_path, method: :post, class: "nav-link" %>
          <li class="nav-item"><%= link_to "Nouvelle inscription", new_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Connexion", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

    <footer class="p-3">
      <p>&copy; <%= Time.now.year %> My Blog App. Tous droits réservés.</p>
    </footer>
    
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  </body>
</html>



